*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Arial;
}
h2{
	font: bold 15px Arial;
}
header, section, footer, nav, aside, article, hgroup{
	display:block;
}
body{
	text-align:center; /* behövs för äldre browsers för att få allt centrerat */
}

#divbody{
	background: darkgrey;
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align:left;
}
#topheader {
	background:lightblue;
	border-bottom: 1px solid black;
	padding: 20px;
}
#sidemenu{
	float:left;
	width: 150px;
	margin:5px 5px 5px 5px;
	background-color:lightgreen;
	border: 1px solid black;
}
#sidemenu li{
	list-style:none;
	padding: 10px;
	font: bold 15px Arial;
}
#thecontent{
	float: left;
	width: 835px;
	margin: 15px none;
}
#thefooter{
	clear:both;
	text-align:center;
	padding:10px;
	border-top: 1px solid black;
	background: grey;
	color: white;
}
article {
	background: #EFEFEF;
	border: 1px solid black;
	margin: 5px;
	padding: 30px;
}
article header {
	border-bottom: 1px solid lightblue;
	padding: 0px 0px 7px 0px; 
}
article section {
	padding: 10px 0px 0px 0px;
}
article footer {
	border-top: 1px solid black;
	padding-top: 10px;
}
nav a:link {
	color: black;
}
nav a:visited {
	color: black;
}














