*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 24px Arial;
}
h2{
	font: bold 19px Arial;
}
h3{
	font: bold 17px Arial;
}
section{
	font: 15px Calibri;
}
header, section, footer, nav, aside, article, hgroup{
	display:block;
}
body{
	text-align:center; /* behövs för äldre browsers för att få allt centrerat */
}

#divbody{
	background: darkgrey;
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align:left;
}
#topheader {
	background:lightblue;
	border-bottom: 1px solid black;
	padding: 20px;
}
#sidemenu{
	float:left;
	width: 150px;
	margin:5px 5px 5px 5px;
	background-color:lightgreen;
	border: 1px solid grey;
}
#sidemenu li{
	list-style:none;
	padding: 0px;
	font: bold 15px Arial;
}
#thecontent{
	float: left;
	width: 835px;
	margin: 15px none;
}
#thefooter{
	clear:both;
	text-align:center;
	padding:10px;
	border-top: 1px solid black;
	background: grey;
	color: white;
}
article {
	background: #EFEFEF;
	border: 1px solid grey;
	margin: 5px;
	padding: 30px;
}
article header {
	border-bottom: 1px solid lightblue;
	padding: 0px 0px 7px 0px; 
}
article section {
	padding: 15px 0px 15px 0px;
}
article footer {
	border-top: 1px solid black;
	padding-top: 10px;
	text-align: right
}
nav a:link {
	color: black;
	text-decoration:none;
}
nav a:visited {
	color: black;
	text-decoration:none;
}
nav a:hover {
	color: lightblue;
	background: white;
	text-decoration:none;
}
.menubutton {
	display: block;
	height: 40px;
	width: 135px;
	background: lightgreen;
	text-align: left;
	padding-top: 17px;
	padding-left: 15px;
	font: 18px calibri;
	border-top: 1px;
	border-bottom: 1px;
	border-right: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: darkgrey;
}
.activebutton {
	display: block;
	height: 40px;
	width: 135px;
	background: #00AF5E;
	text-align: left;
	padding-top: 17px;
	padding-left: 15px;
	font: 20px calibri;
	border-top: 1px;
	border-bottom: 1px;
	border-right: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: darkgrey;
}
.linkbutton {
	display: block;
	height: 25px;
	width: 110px;
	background: #0095C7;
	text-align: center;
	padding-top: 8px;
	font: 15px arial bold;
	border: 1px solid black;
	text-decoration: none;
	list-style:none;
}
section nav a:link {
	color: black;
	text-decoration:none;
}
section nav a:visited {
	color: w;
	text-decoration:none;
}
section nav a:hover {
	color: white;
	background: #0095C7;
	text-decoration:none;
}
section nav a:active {
	color: black;
}
#linkbuttontext li{
	list-style:none;
}










